@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;

}

/* header start  */
header {
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding: 0 !important;
}

div#navbarNav {
    margin-top: 30px;
}

.navbar-brand {
    padding: 0 !important;
}
.navbar-brand{
    width: 15%;
    margin: 0 auto;

}
.menu1 li {
    margin-right: 20px;
}

#navbarNav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#navbarNav li a.active {
    color: white;
    border-bottom: 2px solid #f04436;
    width: 100%;

}

.menu1 li a {
    color: white;
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid transparent;
}



.menu1 li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: #e74c3c;
    top: 100%;
    left: 0;
    transition: .4s;
}

.menu1 li a:hover::after {
    width: 100%;

}

.navbar-toggler:focus {
    outline: none;
    /* border: none; */
    box-shadow: none;
}

.navbar-toggler-icon i {
    color: white;
}

.loggedbtn li {
    margin-bottom: 20px;
    margin-top: -20px;
    background-color: #feb31a;
    padding: 10px 25px;
    border-radius: 25px;
    -webkit-box-shadow: 7px 7px 25px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 25px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 25px -10px rgba(0, 0, 0, 0.75);
}

.socialmenu li {
    margin-right: 20px;
    padding-bottom: 30px;
}

.socialmenu li a {
    font-size: 20px !important;
}

.hidemenu {
    display: none;
}

/* header end  */

/*==== hero section start ===*/
#hero {
    background-image: url(../images/home/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 160px;
}

.hero_content h3 {
    font-size: 90px;
    font-weight: 300;
    color: white;
}

.hero_content h2 {
    font-size: 65px;
    font-weight: 600;
    color: white;
}

.hero_content p {
    font-size: 24px;
    font-weight: 300;
    color: white;
}

/*=== hero section end === */

/*=== about section start===  */
#about {
    padding: 100px 0 150px;
}

.about_content {}

.about_content h3 {
    font-size: 48px;
    font-weight: 300;
    color: #2f375f;
}

.about_content h2 {
    font-size: 48px;
    font-weight: 600;
    color: #2f375f;
}

.about_content p {
    font-size: 24px;
    color: #777a8e;
    margin-top: 30px;
}

/*=== about section end === */

/*=== charging section start===  */
#charger {
    background-color: #f9f9f9;
    padding-top: 200px;
}

.charger_content {
    text-align: center;
}

.charger_content h3 {
    font-size: 45px;
    font-weight: 300;
    color: #2f375f;
}

.charger_content h2 {
    font-size: 48px;
    font-weight: 600;
    color: #2f375f;
}

.charger_content p {
    font-size: 24px;
    color: #777a8e;
    margin-top: 30px;
}

.chargerbottombg {
    background-image: url(../images/home/chergerbg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

}

.charger_img img {
    margin-bottom: 100px;
}

/*=== charging section end === */

/*=== section 4 start===  */
#sec_4 {
    background-image: url(../images/home/shapebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 30px;
}

.sec4_right_content {
    text-align: right;
}

.sec4_right_content h3 {
    font-size: 48px;
    font-weight: 300;
    color: white;
}

.sec4_right_content h2 {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.sec4_right_content p {
    font-size: 24px;
    color: white;
    margin-top: 30px;
}

/*=== section 4 end === */

/*=== metarial section start  ===*/

#metarial {
    background-color: #387dc0;
    padding: 100px 0;
    margin-top: -10px;
}

.metarial_content h3 {
    font-size: 48px;
    font-weight: 300;
    color: #feb31a;
}

.metarial_content h2 {
    font-size: 48px;
    font-weight: 600;
    color: #feb31a;
}

.metarial_content p {
    font-size: 24px;
    color: white;
    margin-top: 30px;
}

/*=== metarial section end === */

/*=== report section start  ===*/
#report {
    padding: 150px 0;
}

.main_report h2 {
    font-size: 48px;
    font-weight: 300;
    color: #2f375f;
}

.main_report h2 span {
    font-weight: 600;
}

.subheading {
    margin-top: 30px;
}

.main_report p {
    color: #777a8e;
    font-size: 24px;
}

.table_box {
    -webkit-box-shadow: 3px -2px 10px -4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 3px -2px 10px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 9px -4px rgb(0 0 0 / 50%);
    border-radius: 10px;
    margin-top: 80px;
}

.table_box h2 {
    color: #c3344f;
    padding: 30px 0;
}

.mytable th,
.mytable td {
    border: 1px solid #ccc;
}

.mytable th.text-center {
    color: #6d98c0;
}

.report_box {
    margin-top: 50px;
    -webkit-box-shadow: 3px -2px 10px -4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 3px -2px 10px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 9px -4px rgb(0 0 0 / 50%);
    border-radius: 10px;
}
.report_box img{
    width: 100% !important;
    height: 300px;
}
.download_btn {
    margin-top: 80px;
}

.download_btn a {
    text-decoration: none;
    color: white;
    background-color: #00a255;
    padding: 15px 25px;
    border-radius: 25px;
}

/*=== report section end === */

/* === app section start === */
#app_sec {
    background-image: url(../images/home/appbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 50px;
}

.section_title {}

.section_title h2 {
    font-size: 48px;
    font-weight: 300px;
    color: white;
    margin-bottom: 30px;
}

.section_title h2 span {
    font-weight: 600;
}

.app_images {
    position: relative;
}

.app_images img {
    width: 90%;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;

}

.app_content {
    margin-top: 30px;
}

.app_content p {
    font-size: 30px;
    color: white;
}

.app_content p i {
    color: #feb31a;

}

/* === app section end === */

/* === features section start === */
#features {
    margin-top: 200px;
    padding-bottom: 50px;
}

.features_content {}

.sec_head h2 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px;
}

.sec_head h2 span {
    font-weight: 600;
}

.single_features {
    height: 95%;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 2px 0px 5px 0px rgb(0 0 0 / 12%);
    -webkit-box-shadow: 2px 0px 5px 0px rgb(0 0 0 / 12%);
    -moz-box-shadow: 2px 0px 5px 0px rgb(0 0 0 / 12%);
}

/* === features section end === */

/* === capacity section start === */
#capacity {
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #f5f8ff;
}

.capacity_box {}

.capacity_box h2 {
    font-size: 48px;
    font-weight: 300;
}

.capacity_box h2 span {
    font-weight: 600;
}

.capacity_box p {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* === capacity section end === */

/* === footer section start === */
footer {
    background-image: url(../images/home/footerbg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #f5f8ff;
}

.top_footer {
    text-align: center;
}

.top_footer img {
    width: 50%;
    margin: 0 auto;
    margin-top: -140px;
}
.main_footer img{
    width: 25%;
    text-align: center;
}
.newsletter {
    margin-top: 50px;
}

.myinputgroup {
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

.myprepend {
    background: none;
    border: none;
}

.myinputgroup input {
    border: none;
    outline: 0px auto -webkit-focus-ring-color;

    transition: border-color 3000s ease-in-out, box-shadow 3000s ease-in-out;
}

.myappendbox button {
    font-size: 16px;
    color: white;
    background-color: #387dc0;
    border-radius: 25px;
    border: none;
    transition: border-color 3000s ease-in-out, box-shadow 3000s ease-in-out;
}

.myappendbox button:hover {
    color: white;
}

.footer_menu {
    text-align: center;
    margin-top: 30px;
}

.footer_menu ul {}

.footer_menu ul li {
    padding: 5px 15px;
}

.footer_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_bottom p {
    color: white;
}

.copyright_text {
    margin-top: 30px;
    font-weight: 700;
}

/* === footer section end === */

/* ================================================= */
/* hrv page */
/* ================================================= */

/* hero 2 section start  */
#hero2 {
    background-image: url(../images/hrv/hrvbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 120px;
    margin-top: -10px;
}

p.hc_pera {
    font-weight: 600;
}

/* hero 2 section end  */

/* report section start  */
#report2 {
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: -200px;
    z-index: 9;
}

.main_report2 h2 {
    font-size: 45px;
    color: #feb31a;
}

.middle_box_pera {
    margin-top: 50px;
}

.middle_box_pera p {
    font-size: 24px;
}

.table_box h2 span {
    font-weight: 600;
}

.table_box2 {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.mid_font {
    margin-top: 70px;
}

.diff_font {
    font-weight: 300;
    color: #25639f;
}

.diff_font span {
    font-weight: 600;
}

/* report section end  */

/* app section start  */
#app_sec2 {
    background-image: url(../images/hrv/middleshape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 100px;
}

.app_contentleft h2 {
    font-size: 48px;
    font-weight: 300;
    color: white;
}

.app_contentleft h2 span {
    font-weight: 600;
}

.app_contentleft p {
    color: white;
}

.app_contentright h2 {
    font-size: 48px;
    font-weight: 300;
    color: white;
}

.app_contentright h2 span {
    font-weight: 600;
}

.app_contentright p {
    color: white;
}

/* app section end  */
/* health & sports section start */
/* health & sports section end */

/* works section start  */
#workit {
    padding-top: 150px;
    padding-bottom: 400px;

}

.sec_head p {
    font-size: 24px;
}

.footer2 {
    background-color: #ffffff;
}

.top_footer2 img {
    width: 35%;
    margin: 0 auto;
    margin-top: -420px;

}

/* works section end   */

/* footer section start  */
/* footer section end  */

